.App {
  display: grid;
  grid-template-areas:
    "notes notes todo analyze"
    "notes notes storageTodo analyze"
    "notes notes tasks track"
    "notes notes storageTask storageTrack"
    "notes notes projects events"
    "notes notes storageProject storageEvent";
  background-color: #282c34;
  gap: 2px;
}

.App-link {
  color: #61dafb;
}

.analyze {
  grid-area: analyze;
  background-color: #90f3bb;
}

.track {
  grid-area: track;
  background-color: #338ef0;
}

.tasks {
  grid-area: tasks;
  background-color: #90b1f3;
}

.events {
  grid-area: events;
  background-color: #90b1f3;
}

.todo {
  grid-area: todo;
  background-color: #90b1f3;
}

.notes {
  grid-area: notes;
  background-color: #90b1f3;
}

.projects {
  grid-area: projects;
  background-color: #90b1f3;
}

.storageTodo {
  grid-area: storageTodo;
  background-color: #90b1f3;
}

.storageEvent {
  grid-area: storageEvent;
  background-color: #90b1f3;
}

.storageProject {
  grid-area: storageProject;
  background-color: #90b1f3;
}

.storageTask {
  grid-area: storageTask;
  background-color: #90b1f3;
}

.storageTrack {
  grid-area: storageTrack;
  background-color: #90b1f3;
}
